@media screen and (max-width: 580px) {
  .dashboard-index {
    .dashboard-content {
      .w-50 {
        width: 100% !important;
      }
    }
  }
}
@media screen and (max-width: 495px) {
  .dashboard-index {  
    padding: 0px !important;
    .dashboard-content {
      padding: 0px;
      .container {
        padding: 0px !important;
        h3 {
          font-size: 1.2rem;
        }
        .col-5 {
          font-size: 12px;
          padding: 0px !important;
        }
        .col-6 {
          font-size: 12px;
          padding: 0px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 399px) {
  .dashboard-index {
    .container {
      display: none !important;
    }
  }
}