.leaderboard-page {
    .title {
        text-align: center;
        color: #fff;
        font-weight: 500;
        font-size: 3rem;
    }
    .title-all-time {
        margin-top: 30px;
    }
    .row strong {
        color: #fff;
    }

    @media screen and (max-width:522px)  {
        .title {
            font-size: 2rem !important;
        }
    }
}