.thankyou-page {
    h1 {
        color: white;
    }

    .card {
        margin-top: 60px;
        border: none;
        border-radius: 0;
    }

    .text-center>a,
    .text-center>a:hover,
    .fb-share-button>a {
        color: #00a896;
    }

    .text-center-btn {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
        text-align: center !important;
    }
}
