#map-code {
    display: block !important;
    float: right !important;
    height: 400px !important;
    width: 100% !important;
    margin-top: 20px !important;
}
#map-code img
{
    max-width : none;
}